@media screen and (max-width: 1030px) {
  .header {
    height: 800px;
    padding: 0 4%;
    background-position: -800px 100px; }
    .header .header__container {
      padding: 0; }
      .header .header__container .header__menu .menu__links {
        min-width: 80%; }
      .header .header__container .header__content .content__about {
        width: 60%; }
        .header .header__container .header__content .content__about .about__app-logo {
          width: 20%; }
        .header .header__container .header__content .content__about .about__text .text__title {
          font-size: 5.8vw; }
      .header .header__container .header__content .content__img {
        width: 35%; }
    .header .bg__stravbery {
      width: 120px;
      height: 120px;
      top: -10%;
      left: 45%; }
  .main .features {
    height: 500px; }
  .main .simple {
    height: 500px; }
  .main .manage {
    height: 500px; } }
